/* main styling */

*{
    padding: 0;
    margin: 0;
    background-color: rgb(245, 223, 245);
}

h1{
    color: rgb(88, 0, 0);
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

#game{
    width: 400px;
    height: 500px;
    background-color: rgb(119, 214, 252);
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
}

/* block and hole animation */

#block{
    width: 50px;
    height: 500px;
    background-color: rgb(70, 218, 40);
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}

@keyframes block{
    from {left: 400px}
    to {left: -50px;}
}

#hole{
    width: 50px;
    height: 150px;
    background-color: rgb(119, 214, 252);
    position: relative;
    left:400px;
    top:-500px;
    animation: block 2s infinite linear;
}

/* character styling  */

#character{
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

#character img{
    background-color: transparent;
}